<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Listing</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/sections/<%=section_id%>/listings/<%=listing._id%>?_method=PUT" 
            method="POST" novalidate class="validated-form" 
            enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="listing[title]" 
                    value="<%= listing.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="notation">Notation</label>
                <input class="form-control" type="text" id="notation" name="listing[notation]" 
                    value="<%= listing.notation %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="description">Listing Text</label>
                <textarea class="form-control" type="text" id="description" name="listing[description]" cols="30" rows="3" 
                    value="<%= listing.description %>" required><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="materials">Materials</label>
                <input class="form-control" type="text" id="materials" name="listing[materials]" 
                    value="<%= listing.materials %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="orderKey">Order Key</label>
                <input class="form-control" type="text" id="orderKey" name="listing[orderKey]" 
                    value="<%= listing.orderKey %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="tags">Tags</label>
                <input class="form-control" type="text" id="tags" name="listing[tags]" 
                    value="<%= listing.tags %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Listing Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="listing[price]" 
                        value="<%= listing.price %>" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="photo">Image - May choose multiple images</label>
                <div class="form-control">
                    <input type="file" class="form-file-input" id="photo" name="photo" multiple>
                </div>
            </div>

            <div class="row">
                <div class="col-8 text-center ml-5">
                    <div class="mb-3">
                        <% listing.photos.forEach(function(photo, i) {  %>
                        <img src="<%=photo.thumbnail %>" class="img-thumbnail mb-2" alt="">
                        <div class="form-check-inline mb-3">
                            <input type="checkbox" id="photo-<%=i%>" name="deletePhotos[]" value="<%=photo.filename%>">
                        </div>
                        <label for="photo-<%=i%>" class="mr-3">Delete?</label>
                        <% })%>
                    </div>
                </div>
            </div> 

            <div class="mb-3">
                <button class="btn btn-primary px-5">Update Listing</button>
                <a class="btn btn-success px-5" href="/sections/<%=section.slug%>">Back To Listing</a>
            </div>
        </form>
        
    </div>
</div>

