<% layout('layouts/boilerplate')%>

<%- include('../partials/category-navbar')%>
<%- include('../partials/searchBar')%>

<div class="text-center">
    <% if(currentUser){ %>
    <a class="btn btn-small btn-info px-5 mb-5" href="#addProduct">ADD A PRODUCT</a>
    <% } %>
</div>


<!-- ========================================================= -->
<!-- ========================================================= -->
<div class="product-cards mb-3 mb-md-5">
    <% for(let product of category.products) { %>
    <div class="card-group">
        <div class="card" style="max-width: 17rem;">
            <div class="card-img-top">
                <%if(product.photos.length) {%>
                <a href="/categories/<%=category.slug%>/products/<%=product.slug%>/show">
                    <img class="img-fluid img-prod" alt="" src="<%=product.photos[0].url%>">
                    <% } %>
                </a>
            </div>
            <div class="card-footer px-2">
                <a class="product-title" href="/categories/<%=category.slug%>/products/<%=product.slug%>/show">
                    <h5 class="mb-0"><%=product.title%></h5>
                </a>
                <h6 class="card-subtitle text-muted mb-0"><%= product.notation %></h6>
            </div>
        </div>
    </div>
    <% } %>
</div>

<%- include('../partials/pagination')%>


<!-- ========================================================= -->
<!-- ========================================================= -->



<a id="addProduct" href=""></a>
<% if(currentUser){ %>
<!-- <h3 class="text-center mt-5 mb-3">Add a Product</h3> -->
<div class="row">
    <!-- <div class="card card-form mt-5 p-1 p-md-5"> -->
    <div class="col-md-6 offset-md-3">
        <!-- <div class="card-body"> -->

        <form action="/categories/<%=category._id%>/products" method="POST" novalidate class="mb-3 validated-form"
            enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="product[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="notation">Notation</label>
                <input class="form-control" type="text" id="notation" name="product[notation]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="product[description]" id="body" cols="30" rows="3"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="materials">Materials</label>
                <input class="form-control" type="text" id="materials" name="product[materials]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="orderKey">Order Key</label>
                <input class="form-control" type="text" id="orderKey" name="product[orderKey]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="tags">Tags</label>
                <input class="form-control" type="text" id="tags" name="product[tags]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="product[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="photo">Image - Choose single image</label>
                <div class="form-control">
                    <input type="file" class="form-file-input" id="photo" name="photo" multiple>
                </div>
            </div>

            <div class="mb-3 mt-3">
                <button class="btn btn-success px-5">Submit</button>
            </div>
        </form>
    </div>
</div>
<% } %>