<% layout('layouts/boilerplate')%>
<div class="container page-index">
    
    <h1 class="text-center mb-5">All Pages</h1>
    <div class="page-cards">
    <% for (let page of pages){%>
        <div class="card-group">
          <div class="card mb-3 mb-md-5" style="max-width: 12rem;">
            <%if(page.images.length) {%>
                <div class="card-img-top">
                    <a href="/pages/<%= page.slug %>">
                        <img class="img-fluid img-cat" alt="" src="<%=page.images[0].url%>">
                        <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"> 
                        <% } %>
                    </a>
                </div>
                <div class="card-footer px-2"> 
                    <div>
                        <a class="page-title" href="/pages/<%=page.slug%>"><h5 class="mb-0"><%=page.title%></h5></a>
                        <h6 class="text-muted mb-0"><%= page.notification %></h6>
                    </div> 
                </div>
                <div class="card-footer second-footer text-center px-2">
                    <%  if( currentUser && page.author.equals(currentUser._id))  {%>
                        <a class="card-link btn btn-sm btn-primary" href="/pages/<%=page._id%>/edit">Edit</a>
                        <form class="d-inline" action="/pages/<%=page._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
          </div>
        </div>
    <% }%>
    </div>

</div>